/* Styling for the hero of this page */
.faqs_hero{
    font-size: 3rem;
    background-color: #5C9569;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.faqs_title{
    font-size: 2rem;
}

/* styling to seperate page desrciption text from frequently asked questions */
.faqs_text{
    text-align: center;
    color: #5C9569;
    font-size: 16pt;
    padding: 3%;
    border-bottom: 3px solid #262626;
    margin-left: 5%;
    margin-right: 5%;
}
.question_section_title{
    font-size: 1.5rem;
    text-align: center;
    color: black;
}
.question_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* media query to allow for the site to be mobile compatible, at a certian device width the grid changes layout */
@media (max-width: 768px) {
    .question_section {
      grid-template-columns: 1fr; 
    }
  }
  /* styling for the questions and answers */
.question{
    text-align: center;
    font-size: 1.5rem;
    color: #5C9569;
}
.answer{
    font-size: 1.25rem;
    text-align: center;
    padding: 2%;
}