.faqs_hero{
    font-size: 3rem;
    background-color: #5C9569;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.faqs_title{
    font-size: 2rem;
}
.faqs_text{
    text-align: center;
    color: #5C9569;
    font-size: 16pt;
    padding: 3%;
    border-bottom: 3px solid #262626;
    margin-left: 5%;
    margin-right: 5%;
}
.question_section_title{
    font-size: 1.5rem;
    text-align: center;
    color: black;
}
.question_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.question{
    text-align: center;
    font-size: 1.5rem;
    color: #5C9569;
}
.answer{
    font-size: 1.25rem;
    text-align: center;
    padding: 2%;
}