body{
    font-family: Tahoma;
}
/* Fit the image 100 accross the width of the screen */
.main_banner{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.main_banner img{
    width: 100%;
    height: auto
}
/* Position the hero in the middle of the main banner image */
.home_hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 2.5rem;
}
/* media query to adjust the text when device size changes */
@media (max-width: 768px) {
    .home_hero {
        font-size: 1.5rem;
        top: 30%; 
    }
}
h2{
    text-align: center;
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    color: #5C9569;
}
/* Styling of the main text */
.main_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}
.initial_text{
    padding-left: 3%;
    padding-right: 3%;
}
.second_text{
    padding-left: 3%;
    padding-right: 3%;
}
.third_text{
    padding-left: 3%;
    padding-right: 3%;

}