body{
    font-family: Tahoma;
}
.main_banner{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.main_banner img{
    width: 100%;
    height: auto
}
h2{
    font-size: 2rem;
}
.home_hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set text color */
    font-size: 2.5rem;
}
@media (max-width: 768px) {
    .home_hero {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
        top: 30%; /* Adjust top position for better placement on mobile */
    }
}
h2{
    text-align: center;
}
.main_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}
.initial_text{
    padding-left: 3%;
    padding-right: 3%;
}
.second_text{
    padding-left: 3%;
    padding-right: 3%;
    /* color: #5C9569; */
}
.third_text{
    padding-left: 3%;
    padding-right: 3%;

}