/* Styling for the footer, this will be the same on each page */
.Footer{
    background-color: #5C9569;
    display: flex;
    justify-content: space-between;
    font-size: 20pt;
    align-items: center;
    }
/* Setting footer images to be the same size for consistent design */
.social_media img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

