
.hero{
    background-color: #5C9569;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 3rem;
}
.services_title{
    font-size: 2rem;
}
.services_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 16pt;
    align-items: start;
    gap: 1rem;
    
}
@media (max-width: 768px) {
    .services_content {
      grid-template-columns: 1fr; 
    }
  }
.services_content img{
    width: 100%;
    height: 100%;
    justify-self: top;
    align-self: center;
    max-height: 415px;
}
.services_list{
    text-align: center;
    font-size: 1.5rem;
}
.services_list_items{
    list-style-type: none;
}
.services_text1{
    padding: 3%;
}
.services_text2{
    padding: 3%;
}
.services_text3{
    padding: 3%;
}
