/* Styling for the gallery herp, title and text */
.hero_text{
    font-size: 3rem;
    background-color: #5C9569;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.gallery_text{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.gallery_description{
    font-size: 16pt;
    padding: 3%;
    text-align: center;
    color: #5C9569;
}
/* Grid layout for desktop display */
.image_gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}
/* media query, once device width gets to a certian size, 
only one image will be displayed in the columns at a time */
@media (max-width: 768px) {
    .image_gallery {
      grid-template-columns: 1fr; 
    }
  }
  /* styling for the gallery images */
.image_gallery img{
    width: 100%;
    height: auto;
    padding: 1%;
}
